.showing {
  margin-block: 1rem;
}

.showing__top {
  margin-block-end: 1rem;
}

.showing__card {
  display: none;
}

.showingCard__heading {
  font-size: 0.9rem;
}

.showing--imdb {
  font-size: 0.6rem;
}

@media screen and (min-width: 913px) {
  
  .showing__cards {
    justify-content: space-between;
  }
  
  .showing--img {
    max-width: 15rem;
    height: auto;
  }

  .showingCard__heading {
    font-size: 1.3rem;
  }
  

  .showing--imdb {
    font-size: 1rem;
  }
}




